* {
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body {
    margin: 0px;
}

/* header */ 

.header {
    display: flex;
    background-color: #1f2937;
    padding: 0 0 30px;
}

.all {
    display: flex;
    flex-flow: column;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    flex: auto;
    margin: 10px 0 0;
}

.pic {
    padding: 0px;
    height: 200px;
    width: 300px;
    background-color: rgb(19, 202, 202);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex: auto;
    border-radius: 8px;
    background-position: center;
    background-image: url("/home/balazs/Odin/odin-landing-page/odin-landing-page/img/norway-ge31367deb_640.jpg");
}

.pic2 {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap:20px;
    flex: auto;
}

.linknum1 {
    margin-left: 190px;
}

.header2 {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.headertext {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 0 20px;
}

.headercontent {
    width: 300px;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0px;
}

.headerh1 {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

/* header */ 
/* content1 */

.content1 {
    text-align: center;
    color:black;
    padding: 30px 0;
}

.black {
    color: black;
}

.button {
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 4px;
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    border: 2px #3882f6 solid;
    background-color: #3882f6;
    border-radius: 8px;
}

.card:hover {
    background-color: #eee;
    animation-name: border;
    animation-duration: 4s;
}

@keyframes border {
    from{border-radius: 8px;}
    to{border-radius: 360px;}
}

.ccard {
    display: flex;
    align-items: center;
    flex-flow: column;
}

/* content1 */
/* content2 */

.content2 {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px 0;
}

.content2text {
    font-weight: lighter;
    font-size: 24px;
    color: #1f2937;
    font-style: italic;
    margin: 20px 20px 0;
}

.author {
    font-weight: 800;
    align-self: flex-end;
    color: #1f2937;
    margin:0px 20px 20px;
}

.content2con {
    display: flex;
    flex-flow: column;
    max-width: 600px;
}
/* content2 */
/* content3 */

.content3 {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.placeholdercard {
    max-width: 580px;
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    align-items: center;
    margin:20px;
    padding: 20px;
}

.pcardtxt {
    display: flex;
    flex-flow: column wrap;
    margin: 0px 0px 0px 20px
}

.placeholderinfo {
    margin: 0 0 5px;
}

.placeholdertext {
    margin: 0px;
}

.button2 {
    background-color: #3882f6;
    border-radius: 4px;
    border: 2px solid #eee;
    padding: 10px;
    min-width: 80px;
    margin: 0 20px 0 10px;
}

/* content3 */
/* footer */

.footer {
    background-color: #1f2937;
    display: flex;
    margin: auto 0 0 0;
    flex-flow: row wrap;
    justify-content: center;
}

.footercon {
    display: flex;
    justify-content: center;
    max-width: 580px;
    min-width: 580px;
}

.footertxt {
    font-weight: 800;
    margin-right: 10px;
}

.gitlink {
    font-weight: 800;
    margin: auto 0;
}


.gitlinkdiv {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
/* footer */