* {
    border: 2px solid red;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

/* header */ 

.header {
    display: flex;
    background-color: #1f2937;
    border: none;
}

.all {
    display: flex;
    flex-flow: column;
    flex: auto;
    align-items: center;
    justify-content: center;
    border: 2px yellowgreen solid;
    border: none;
}

.navbar {
    display: flex;
    flex: auto;
    border: none;
}

.pic {
    height: 200px;
    width: 300px;
    background-color: rgb(19, 202, 202);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex: auto;
    border: 2px rgb(19, 202, 202) solid;
    border-radius: 8px;
}

.pic2 {
    border: none;
}

a {
    text-decoration: none;
    border: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap:20px;
    flex: auto;
    border: none;
}

li {
    border: none;
}

.linknum1 {
    margin-left: 190px;
}

.header2 {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    border: none;
}

.headertext {
    border: royalblue 2px solid;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 0 20px;
    border: none;
}

.headercontent {
    width: 300px;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
    border: none;
}

.headerh1 {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    border: none;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

/* header */ 
/* content1 */

.content1 {
    text-align: center;
    color:black;
    border: none;
}

.black {
    color: black;
}

.button {
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 4px;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    border: none;
}

.card {
    width: 100px;
    height: 100px;
    border: 2px #3882f6 solid;
    background-color: #3882f6;
    border-radius: 8px;
}

.card:hover {
    background-color: #eee;
}

.ccard {
    display: flex;
    align-items: center;
    flex-flow: column;
    border: none;
}

.contentheader {
    border: none;
}

.cardtext {
    border: none;
}

/* content1 */